<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primeira página</title>
    <link rel="stylesheet" href="css.estilo2.css">
</head>

<body>
    <header>
        <nav>
            <h1>Pedro Caribé</h1>
            <ul>
                <li><a href="index.html">HOME</a></li>
                <li><a href="sobre.html">SOBRE</a></li>
                <li><a href="contato.html">CONTATO</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>

        </section>
    </main>
    <footer>
        <p>Copyright © 1962-2024 - Pedro Caribé.Net Internet<br>
            Website Design by Pedro Caribé</p>
    </footer>
</body>
</html>